body {
  font-size: 1rem;
  transition: background-color 0.5s ease;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 231px 0 284px;
}

.auth-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.39rem;
  margin-bottom: 2.5rem;
}

.auth-header img {
  width: 103.529px;
  height: 103.88px;
  flex-shrink: 0;
}

.auth-header p {
  font-family: 'ROKAF Sans';
  font-size: 4.0215rem;
  font-style: normal;
  font-weight: 700;
  color: var(--brand-blue);
}

/* ---------------- form ------------------ */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  position: relative;
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  margin-bottom: 8px;
  background-color: var(--cool-gray-100);
}

/* eye-icons */
.password-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
}

.password {
  display: inline-block;
  width: 100%;
}

.btn_visibility_icon {
  position: absolute;
  display: inline-block;
  left: 93%;
  margin: 12px 24px 0 0;
  height: 24px;
}

form>label {
  font-family: Pretendard;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  margin-bottom: 16px;
}

/* error-message */
.error {
  color: var(--color-error-red); 
  font-family: Pretendard;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.input-error {
  border: 1px solid var(--color-error-red);
}

#submit-btn {
  text-align: center;
  width: 640px;
  padding: 16px 24px;
  margin: 0 0 24px;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 32px;
  background-color: var(--color-secondary-400);
  color: var(--cool-gray-100);
  border: none;
  border-radius: 9999px;
}

#submit-btn:hover {
  background-color: #3692FF;
}

/* OAuth */
.third-party-auth {
  display: flex;
  font-family: Pretendard;
  font-size: 1remx;
  font-weight: 500;
  line-height: 26px;
  width: 640px;
  padding: 16px 24px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #E6F2FF;
  gap: 18px;
}

.third-party-auth-imgs {
  display: flex;
  gap: 16px;
}

.third-party-auth-imgs img {
  height: 42px;
  width: 42px;
}

/* ---------------- last-element ------------------ */
.signup-para {
  display: flex;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
  justify-content: center;
  align-content: center;
  gap: 4px;
  margin-top: 24px;
}

.signup-para-a {
  color: var(--color-primary-100);
}

/* mission: cursor */
a,
.btn_visibility_icon {
  cursor: pointer;
}

/**/
.modal-show {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: initial;
  z-index: 10;
}

.modal-container {
  position: fixed;
  display: initial;
  background-color: white;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  width: 540px;
  height: 250px;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal-btn {
  display: block;
  align-self: flex-end;
}

.modal-para {
  color: var(--color-secondary-800);
  text-align: center;
  font-size: var(--font-lg);
  font-family: Pretendard;
  font-weight: 500;
}

.modal-button {
  position: absolute;
  right: 10px;
  bottom: 28px;
  border: 0;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  text-align: center;
  background-color: var(--brand-blue);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

#test {
  z-index: 11;
}
/*=============================================
=            tablet media                     =
=============================================*/
@media screen and (max-width: 1200px) {
  main {
    padding: 48px 52px 431px 52px;
  }

}
/*=============================================
=            mobile media                     =
=============================================*/
@media screen and (max-width: 744px) {
  main {
    display: flex;
    padding: 24px 15px 255px 16px;
    width: 100%;
    max-width: 400px;
  }

  form {
    width: 100%;
    max-width: 400%;
  }


  .btn_visibility_icon {
    left: 91%;
  }

  #submit-btn,
  .third-party-auth {
    width: 100%;;
    max-width: 400px;
  }

  .auth-header img{
    width: 100%;
    height: 100%;
    max-width: 400px;
  }

  .auth-hearder p {
    font-size: var(--font-3xl);
    max-width: 400px;
  }

  .modal-container {
    width: 327px;
    height: 220px;
  }

  .modal-para {
    position: absolute;
    bottom: 120px;
  }

  .modal-button {
    position: absolute;
    right: auto;
    left: auto;
    bottom: 23px;
  }
}

