.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 360px;
  gap: 39px;
  max-width: 1920px;
  margin-top: 100px;
}

.sellItemContainerPostion{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.sellItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sellItemPara {
  text-align: start;
  font-family: var(--font-family-base);
  color: var(--color-secondary-900);
  font-size: var(--font-xl);
  font-weight: 700;
  line-height: 32px;
}

.sellItemFilter {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sellItemButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 42px;
  padding: 12px 23px;
  border-radius: 8px;
  border: 0px;
  background-color: var(--color-primary-100);
  color: var(--cool-gray-100);
  font-family: var(--font-family-base);
  font-size: var(--font-lg);
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-200);
  }

  &:active {
    background-color: var(--color-primary-300);
  }
}