body {
  font-size: 1rem;
  margin-top: 70px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 1;
}

.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* mission 왼쪽/오른쪽 여백 유지*/
  padding: 0 200px;
  max-width: 1920px;
  margin: 0 auto;

}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  margin-right: 6.59px;
  width: 40px;
  height: 40px;
}

.logo-title>a {
  display: inline-flex;
  text-decoration: none;
  align-items: flex-end;
  margin-left: 8.59px;
  font-family: "ROKAF Sans";
  font-size: 25.633px;
  /* 1.6020625rem */
  font-weight: 700;
  color: #3692FF;
}

.logo-box>a {
  background-color: #3692FF;
  padding: 12px 23px;
  border-radius: 8px;
  text-decoration: none;
  color: #F3F4F6;
}

/* hero-section */

.hero-section {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  height: 540px;
  flex-shrink: 0;
  background-color: #CFE5FF;
}

.hero-section a {
  background-color: #3692FF;
  padding: 16px 124px;
  border-radius: 40px;
}

.hero-title {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.hero-title {
  font-family: 'Pretendard';
}

.hero-title h1 {
  font-size: 2.5rem;
  /* 40px */
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}


.hero-title a {
  color: #F9FAFB;
  text-decoration: none;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 600;
  line-height: 32px;
}

.hero-section img {
  display: flex;
  width: 746px;
  height: 340px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

/*--- section-start ---*/
.feature-section {
  padding: 138px 344px;
}

.feature-section img {
  width: 580px;
  height: 444px;
}

.feature-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.feature-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.feature-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  font-size: 1.125rem;
  /* 18px */
  line-height: 26px;
  font-family: 'Pretendard';
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 64px;
  padding-right: 30px;
  background-color: #FCFCFC;
}

.feature-two-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 64px;
  padding-left: 30px;
  background-color: #FCFCFC;
}

.feature-one-para {
  font-size: 1.125rem;
  /* =18px */
  font-weight: 700;
  line-height: 26px;
  color: #3692FF;
}

.feature-one-heading {
  font-size: 2.5rem;
  /* 40px */
  font-weight: 700;
  color: #374151;
  line-height: 140%;
  letter-spacing: 0.8px;
  font-family: 'Pretendard';
}

.feature-two-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 12px;
  font-size: 1.125rem;
  /* 18px */
  font-weight: 700;
  line-height: 26px;
}

.feature-two-para {
  font-size: 1.125rem;
  /* 18px */
  font-weight: 700;
  line-height: 26px;
  color: #3692FF;
  font-family: 'Pretendard';
}

.feature-two-heading {
  font-size: 2.5rem;
  /* 40px */
  font-weight: 700;
  color: #374151;
  line-height: 140%;
  letter-spacing: 0.8px;
  font-family: 'Pretendard';
}

.feature-description {
  font-size: 1.5rem;
  /* 24px */
  font-family: 'Pretendard';
  font-weight: 500;
  line-height: 32px;
  color: #374151;
}

/* bottom-secton */
.panda-section {
  background-color: #CFE5FF;
  padding: 0;
  text-align: center;
}

.panda-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 69px;
}

.panda-text {
  font-size: 2.5rem;
  /* 32px */
  font-weight: 700;
  color: #1F2937;
  margin-bottom: 60px;
  font-family: 'Pretendard';
}

.pandas img {
  width: 746px;
  height: 397px;
  margin-top: 143px;
  margin-bottom: -5px;
}

/* footer-section */
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary-900);
  /* mission 왼쪽/오른쪽 여백 유지*/
  padding: 32px 200px;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.footer-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-div p {
  color: #9CA3AF;
  text-align: center;
  font-family: 'Pretendard';
  font-size: 1rem;
  /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-div a {
  font-size: 1rem;
  /* 16px */
  font-weight: 400;
  line-height: normal;
  font-family: 'Pretendard';
  text-align: center;
  text-decoration: none;
  color: #E5E7EB
}

.footer-link {
  display: flex;
  gap: 20px;
}

.sns-images {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* mission: cursor */
.logo-box a,
.hero-title a,
.feature-title,
.here-cta,
.footer-div a,
.sns-images a {
  cursor: pointer;
}

/*=============================================
=            tablet media                     =
=============================================*/
@media screen and (max-width: 1200px) {

  .logo-box {
    padding: 0 24px;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .hero-section .hero-title {
    gap: 24px;
    margin-top: 84px;
  }

  .hero-section br {
    display: none;
  }

  .hero-section picture {
    justify-content: center;
  }

  .hero-section img {
    margin-top: 211px;
  }

  /*----------  tfeature block  ----------*/
  .feature-section {
    width: 100%;
    padding: 0;
    margin: 24px;
  }

  .feature-section .feature-title,
  .feature-section .feature-two-title {
    gap: 0;
  }

  .feature-one-heading,
  .feature-two-heading {
    font-size: var(--font-3xl);
    margin: 16px 0 24px;
  }

  .feature-one-para,
  .feature-two-para {
    font-size: var(--font-2lg);
  }

  .feature-description {
    font-size: var(--font-2lg);
  }

  .feature-section .feature-card-br {
    display: none;
  }

  .feature-card,
  .feature-two-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .feature-two-card {
    align-items: flex-end;
  }

  .feature-card img,
  .feature-two-card img {
    width: 100%;
    height: 100%;
  }

  /*----------  tpanda block  ----------*/
  .panda-content {
    flex-direction: column;
    gap: 24px;
  }

  .panda-content {
    gap: 0;
  }

  .panda-text {
    padding: 207px 217px;
    margin: 0;
    font-size: var(--font-3xl);
    line-height: 140%;
    color: var(--color-secondary-700);
  }

  .pandas img {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: -5px;
  }

  /*----------  tfooter block  ----------*/
  footer {
    flex-direction: column;
    padding: 24px;
    text-align: center;
  }
}

/*=============================================
=            mobile media                     =
=============================================*/
@media screen and (max-width: 744px) {
  .logo-box {
    padding: 0 24px;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .hero-section .hero-title h1 {
    gap: 18px;
    text-align: center;
    font-size: var(--font-3xl);
  }

  .hero-section br {
    display: initial;
  }

  .hero-section picture {
    justify-content: center;
  }

  .hero-section img {
    margin-top: 132px;
  }

  /*----------  mfeature block  ----------*/
  .feature-section {
    width: 100%;
    margin: 54px 16px !important;
  }

  .feature-section .feature-title,
  .feature-section .feature-two-title {
    gap: 0;
  }

  .feature-one-heading,
  .feature-two-heading {
    font-size: var(--font-2xl);
    margin: 8px 0 16px;
  }

  .feature-one-para,
  .feature-two-para {
    font-size: var(--font-lg);
  }

  .feature-description {
    font-size: var(--font-lg);
  }

  .feature-section .feature-card-br {
    display: none;
  }

  .feature-card,
  .feature-two-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .feature-two-card {
    align-items: flex-end;
  }

  .feature-card img,
  .feature-two-card img {
    width: 100%;
    height: 100%;
  }

  /*----------  mpanda block  ----------*/
  .panda-content {
    flex-direction: column;
    gap: 24px;
  }

  .panda-text {
    padding: 207px 217px;
    margin: 0;
    font-size: var(--font-3xl);
    line-height: 140%;
    color: var(--color-secondary-700);
    white-space: nowrap;
  }

  .pandas img {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: -5px;
  }

  /*----------  mfooter block  ----------*/
  footer {
    flex-direction: column;
    padding: 24px;
    text-align: center;
  }
}

/*
  TODOs: html요소 검사 및 반응형 footer요소 테스트
*/