.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

/* 제목 + 좋아요 버튼 */
.header {
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-secondary-200);
  padding-bottom: 16px;
  margin-bottom: 24px;
}

.title {
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-secondary-900);
  margin-bottom: 16px;
}

.authorBox {
  display: flex;
}

.authorMeta {
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;

  & p {
    align-content: center;
    font-family: var(--font-family-base);
    font-size: 14px;
    font-family: 500;
    line-height: 24px;
    margin-left: 16px;
  }

  & span {
    align-content: center;
    font-family: var(--font-family-base);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 8px;
  }
}

.authorAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.authorBoxHr {
  height: 34px;
  border: 1px dotted var(--color-secondary-200);
  margin: 0 32px;
}

.likeBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--color-secondary-200);
  border-radius: 35px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  color: #444;

  & span {
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-secondary-500);
  }
}

.heartIcon {
  width: 28px;
  height: 28px;
}

/* 본문 */
.content {
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-secondary-800);
  margin-bottom: 32px;
  line-height: 26px;
}

/* 댓글 입력 */
.commentForm {
  width: 100%;
  margin-bottom: 32px;

  & h3 {
    font-family: var(--font-family-base);
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 8px;
    font-size: 16px;
  }
}

.textarea {
  min-height: 80px;
  padding: 10px;
  border: 0;
  border-radius: 6px;
  resize: none;
  margin-bottom: 8px;
  background-color: var(--color-secondary-100);
}

.submitBtnPos {
  display: flex;
  justify-content: flex-end;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 23px;
  flex-grow: 0;
  background-color: var(--color-secondary-400);
  border: none;
  border-radius: 6px;
  color: white;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-100);
  }
}

.submitBtn:hover {
  background-color: #0056b3;
}

/* 댓글 리스트 */
.commentList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-decoration: none;
  list-style: none;
}

.commentItem {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #e5e7eb;
  background-color: #fcfcfc;
  padding: 12px 0;
  gap: 24px;
}

.commentHeader {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: cover;
}

.commentAuthor {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-secondary-600);
}

.commentContentBox {
  display: flex;
  justify-content: space-between;
}

.commentContent {
  font-family: var(--font-family-base);
  font-size: 14px;
  color: var(--color-secondary-900);
  line-height: 24px;
}

.commentContentIcon {
  flex-shrink: 0;
  cursor: pointer;
  color: var(--color-secondary-400);
  padding: 5px 0 6px 0;
}

.backToArticles {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 12px 64px;
  margin-top: 64px;
  margin-bottom: 194px;
  border-radius: 40px;
  background-color: var(--color-primary-100);
  color: var(--color-secondary-100);
  gap: 8px;
  text-decoration: none;

  &:active {
    background-color: var(--color-primary-300);
  }
}

.commentUpdateTime {
  color: var(--color-secondary-400);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.backToArticlesBtn {
  color: var(--color-secondary-100);
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.noCommentImg {
  width: 140px;
  height: 140px;
  margin-bottom: 16px;
}

.noComment {
  color: var(--color-secondary-400);
  text-align: center;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
